* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
}

/* control panel */
.control-panel {
    height: 16%;
    background: whitesmoke;
}

#get-scheme-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2.7%;
}

.color-input,
.scheme-modes-select,
.get-scheme-btn {
    height: 46.666%;
    flex: 0;
}

.get-scheme-btn,
.scheme-modes-select {
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

.color-input {
    flex-basis: 9%;
    border: 0.5px solid #313131;
}

.scheme-modes-select {
    flex-basis: 57%;
    font-size: 1.25rem;
    text-align: center;
}

.get-scheme-btn {
    flex-basis: 22%;
    font-size: 1rem;
}

/* color palette */
.color-palette {
    display: flex;
    width: 100%;
    height: 84%;
}

.color-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.color {
    flex: 1;
}

.color-code:hover,
.color-code:focus {
    cursor: pointer;
}

.color-code,
.color-name {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}


/* pseudo */
input:hover, 
button:hover,
input:focus,
button:focus,
select:focus,
select:hover {
    outline: none;
    cursor: pointer;
    border: lightgray 2px solid;
}

/* snackbar */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }